## DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('TCS1.csv',usecols=["Open","High","Low","Volume","Close"])
df.head()

         Open        High         Low       Close      Volume
0  122.800003  122.800003  119.820000  120.332497  30646000.0
1  121.237503  123.750000  120.625000  123.345001  24465208.0
2  123.312500  123.750000  122.000000  123.512497  21194656.0
3  123.750000  124.375000  122.949997  123.487503  19935544.0
4  123.737503  125.574997  123.250000  124.207497  21356352.0

In [3]:
df.tail()

             Open         High          Low        Close     Volume
4489  3150.000000  3155.350098  3128.550049  3144.699951  1793722.0
4490  3159.000000  3159.000000  3112.000000  3121.850098  1194289.0
4491  3105.000000  3160.000000  3105.000000  3157.300049  1587601.0
4492  3157.800049  3160.399902  3127.000000  3137.399902  1021913.0
4493  3170.100098  3178.000000  3155.000000  3161.699951   260949.0

In [4]:
df.shape

(4494, 5)

In [5]:
df.size

22470

In [6]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [7]:
df.isnull()

       Open   High    Low  Close  Volume
0     False  False  False  False   False
1     False  False  False  False   False
2     False  False  False  False   False
3     False  False  False  False   False
4     False  False  False  False   False
...     ...    ...    ...    ...     ...
4489  False  False  False  False   False
4490  False  False  False  False   False
4491  False  False  False  False   False
4492  False  False  False  False   False
4493  False  False  False  False   False

[4494 rows x 5 columns]

In [8]:
df = df.dropna()

In [9]:
df.describe()

              Open         High          Low        Close        Volume
count  4486.000000  4486.000000  4486.000000  4486.000000  4.486000e+03
mean   1146.182768  1158.538059  1132.825428  1145.521462  3.620596e+06
std     994.070086  1003.010607   984.043404   993.346465  3.162368e+06
min     112.000000   116.112503   103.837502   111.550003  0.000000e+00
25%     290.693748   295.300010   285.931259   290.275009  1.942489e+06
50%     977.450012   995.000000   970.250000   981.337524  2.804749e+06
75%    1564.774963  1597.287476  1548.662537  1576.781219  4.297410e+06
max    4033.949951  4043.000000  3980.000000  4019.149902  8.806715e+07

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4486 entries, 0 to 4493
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    4486 non-null   float64
 1   High    4486 non-null   float64
 2   Low     4486 non-null   float64
 3   Close   4486 non-null   float64
 4   Volume  4486 non-null   float64
dtypes: float64(5)
memory usage: 210.3 KB

In [11]:
df.corr()

            Open      High       Low     Close    Volume
Open    1.000000  0.999893  0.999891  0.999779 -0.235007
High    0.999893  1.000000  0.999877  0.999913 -0.232812
Low     0.999891  0.999877  1.000000  0.999905 -0.236762
Close   0.999779  0.999913  0.999905  1.000000 -0.234861
Volume -0.235007 -0.232812 -0.236762 -0.234861  1.000000

In [12]:
pd.Categorical(df["Close"]).describe()

             counts     freqs
categories
111.550003        1  0.000223
113.462502        1  0.000223
114.962502        1  0.000223
115.137497        1  0.000223
115.75            1  0.000223
...             ...       ...
3935.649902       1  0.000223
3954.550049       1  0.000223
3968.149902       1  0.000223
3990.600098       1  0.000223
4019.149902       1  0.000223

[4333 rows x 2 columns]

In [13]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4489    False
4490    False
4491    False
4492    False
4493    False
Length: 4486, dtype: bool

In [14]:
sum(df.duplicated())

0